<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Неподдерживаемый экран</title>
</head>
<body>
<h1><%= message %></h1>
<p>Пожалуйста, используйте устройство или окно браузера шириной не менее 1145 пикселей.</p>
</body>
</html>